/* Body */
body {
    font-size: 16px;
    font-family: 'Monserrat', sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    margin-inline: 0;
    margin-block: 0;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

h1 {
    margin-block-end: 0;
}

h2 {
    margin-block-end: 0.75rem;
}

input, select, textarea {
    font-family: 'Monserrat', sans-serif;
}

/* Nav var */

nav {
    border: 2px solid;
    position: sticky;
    top: 50px;
    left: 15%;
    max-block-size: 250px;
    max-inline-size: 150px;
}

nav ul {
    list-style: none;
    padding-inline-start: 0;
    text-align: center;
}

/* Main */

main {
    border: 2px solid;
    max-inline-size: clamp(700px, 50%, 900px);
    margin-block-start: 50px;
}

section, article {
    border: 2px solid;
    padding-inline: 1rem;
    margin-bottom: 5rem;
    margin-inline: 2rem;
}

section:first-child {
    margin-top: 1rem;
}

section:last-child{
    margin-bottom: 1rem;
}